

.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
dynamodb-local/
.scala_dependencies
.worksheet
*.pickle
#intelliJ
.idea
.DS_Store

packaged.yaml
